streamlit
pandas
numpy
pytesseract
Pillow
pymupdf
xhtml2pdf
openai  
scikit-learn
joblib
lightgbm
shap
reportlab
arabic-reshaper
python-bidi
pyhanko
pyhanko-certvalidator
cryptography
asn1crypto
oscrypto
cffi
pycparser
tqdm

